.login_username{
    /* padding-top: 60px; */
    display: flex;
    justify-content: space-around;
    text-align: center;
    justify-items: center;
}
.login_username>input{
    height: 35px;
    width: 180px;
    outline: none;
    border-radius: 5px;
    border: 0.1px solid grey;
}
.lgcpmov{
    margin-top: 30px;
    margin-bottom: 20px;
}

.login_password{
    display: flex;
    justify-content: space-around;
}
.login_password>input{
    height: 35px;
    width: 180px;
    outline: none;
    border-radius: 5px;
    border: 0.1px solid grey;
}
.login_forget_password{
    display: flex;
    justify-content: space-around;
}
.login_cmp{
    background-color: aqua;
    height: 350px;
    width: 300px;
  margin-left: 38%;
  margin-top: 30px;
  padding: 25px;
}
.login_button{
  text-align: center;

}
.login_button>button{
    background-color: rgb(157, 70, 238);
    color: white;
    border: none;
    height: 33px;
    width: 100px;
    border-radius: 5px;
}
