.signup_container {
    background-color: #6b63a5;
    height: 500px;
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-left: 35%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }
    
    .signup_name,
    .signup_email,
    .signup_mobile,
    .signup_password,
    .signup_confirmpassword {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    }
    
    .signupipmove {
    margin-left: 80px;
    }
    
    .signuppwd {
    margin-left: 60px;
    }
    
    .signup_buttons>button {
    background-color: #6c5ce7;
    border: none;
    }
    
    .signup_btn1 {
    height: 35px;
    width: 80px;
    border-radius: 5px;
    color: white;
    margin-right: 20px;
    transition: all 0.3s ease;
    }
    
    .signup_btn1:hover {
    background-color: #2a1e7c;
    cursor: pointer;
    }
    
    .signup_btn2 {
    background-color: #4834d4;
    height: 35px;
    color: white;
    border-radius: 5px;
    transition: all 0.3s ease;
    }
    
    .signup_btn2:hover {
    background-color: #6c5ce7;
    cursor: pointer;
    }
    
    .ipcont {
    height: 30px;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 0 10px;
    font-size: 16px;
    }
    
    .signup_error {
    color: red;
    margin-top: -10px;
    margin-left: 100px;
    font-size: 14px;
    }