.header
{
    height: 75px;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 400;
    border-bottom: 1px solid #ccc;
}

.header_left, .header_right{
    display: flex;
    align-items: center;
}


img{
    width: 100%;
}

.h_logo
{
    width: 155px;
}

.searchBox{
    width: 360px;
    height: 45px;
    outline: 1px solid #ccc;
    display: flex;
    margin-left: 25px;
    border-radius: 3px;
    align-items: center;
    padding: 7px;
}

.searchIcon{
    width: 20px;
    margin: 5px;
}

.input_search{
    width: 100%;
    border: none;
    outline: none;
    font-size: 15px;
}

.mobile_icon{
    width: 20px;
    margin: 5px;
}

.download_app{
    display: flex;
    align-items: center;
    height: 100%;
    padding-right: 20px;
}

.download_app :hover {
    color: palevioletred;
    cursor: pointer;
}

.download_app p{
    margin: 0;
    padding: 0;
    font-size: 15px;
} 

.profile_cart{
    display: flex;
    align-items: center;
    
}

.profile_cart:hover{
    color: palevioletred;
}

.signin{
    text-decoration: none;
    color: #111;
}

.signin:hover{
    color:palevioletred
}

.cartt{
    text-decoration: none;
    /* font-size: 40px; */
}

.cartt:hover{
   color:palevioletred
}


.profile_icon{

    width: 20px;
}

.cart_icon{
    display: flex;
    width: 20px;
}

.cart_icon>span{
    background-color: palevioletred;
    color: #fff;
    text-align: center;
    border-radius: 20px;
    padding: 3px;
    margin-bottom: 10px;
}

.profile_cart p{
    margin: 0;
    padding: 0;
}

.profile_container, .cart{
    padding: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.become_supplier{
    padding: 0px 30px;
    border-left: 2px solid #ccc ;
    border-right: 2px solid #ccc ;
    font-size: 17px;
}

